* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 0 150px;
}

.navbar {
  font-weight: bold;
  font-size: 14px;
}

.carousel-item {
  padding: 20px 40px;
  background-image: url("hot-gadgets/bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-item img {
  width: 100px;
}

h3 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

p {
  color: gray;
}

.checkout {
  background-color: black;
  color: white;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.slider {
  margin-bottom: 100px;
}

.change {
  background-color: orange !important;
  padding: 10px 2px;
}

.outside {
  padding: 20px 20px;
}

.outside h5 {
  font-weight: bold;
  font-size: 15px;
  color: orange;
}
.card {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 5px 5px 20px lightgray;
  border-radius: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {
  background-color: white;
  border: none;
}

.card img {
  width: 250px;
}

.phone {
  margin-bottom: 100px;
}

.laptops {
  margin-bottom: 100px;
}

.cat {
  text-align: center;
  margin-bottom: 100px;
}

.icon img {
  width: 60px !important;
}

.icon {
  padding: 10px 5px;
}
